body{
  background-color:black;
}
a{
  color:pink;
}
.glow {
   
    -webkit-animation: rainbow 3s linear 0s infinite;
    animation: rainbow 3s linear 0s infinite
}

@-webkit-keyframes rainbow {
    0% {
        color: #F00
    }

    17% {
        color: #FF0
    }

    33% {
        color: #0F0
    }

    50% {
        color: #0FF
    }

    67% {
        color: #00F
    }

    84% {
        color: #F0F
    }

    100% {
        color: #F00
    }
}

@keyframes rainbow {
    0% {
        color: #F00
    }

    17% {
        color: #FF0
    }

    33% {
        color: #0F0
    }

    50% {
        color: #0FF
    }

    67% {
        color: #00F
    }

    84% {
        color: #F0F
    }

    100% {
        color: #F00
    }
}
.wrap1{
  text-align:center;
}
img{
  border-radius:50%;
}