body {
  color: white;
  background-color: black;
}

td {
  text-align: center;
}



table {
  border-style: solid;
  align:center;
  display:none;
}
pre {
  color: rgb(200, 230, 100);
}

.table {
  width: auto;
  margin: 0px auto;
  display: none;
}
#v1{
  border-style:solid;border-color:white;display:inline-block;
  
}